.card{
    background-color: var(--card_sec_bg);
}
.card:hover {
    background: var(--card_bg);

    cursor: pointer;
    transition: all 0.2s ease-in;
    /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); */
}

.play_btn {
    display: none!important;
}
.card:hover .play_btn {
    display: block!important;
    transition: all .3s ease-in;
}
